<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>HomeNeedsService</title>
</head>
<body>
	<h1>Welcome to Home Needs Service</h1>
	<p>Your one-stop solution for finding reliable home service providers.</p>
	<a href="/login">Already have an account? Login here.</a>
	<br>
	<a href="/providerReg">would you like to sign up as a provider?</a>
	<br>
	<a href="/userRegister">Need services? Sign up! And we'll get you connected with the best providers in your area.</a>
</body>
</html>